# This file defines variables common to all NT monitors. 
# e.g. the name of the Linux administrator.
do "../common.cfg";

$FT::PRODUCT::SUMMARY =  "Monitors health of RedHat Linux operating systems.";
$FT::PRODUCT::DESC =  "Linux is an open source operating system.";
$FT::PRODUCT::CONTACT = 'support@redhat.com';

$HOSTNAME_P = "";

print "SOURCED: " . __FILE__ . "\n";
