package RedHat::Linux::socket;
$FT::PACKAGE = __PACKAGE__;

do "common.cfg";
do "impl/socket.cfg";

sub FT::MONITOR::VARIABLES
{
  $MONITOR_INTERVAL_P = 1;

  $SSHD_I= "$FT::BASE_I/service='sshd'";
  $SSHD_M = [0, "'sshd' is not running and should be"];

  $TELNET_I= "$FT::BASE_I/service='telnet(IN)'";
  $TELNET_M = [0,"Someone telnetting in."];

  $FTP_I= "$FT::BASE_I/service='ftp(IN)'";
  $FTP_M = [0, "Someone ftping in."];

  $RAW_I= "$FT::BASE_I/potential_tojan";
  $RAW_M = [0, "A raw socket is active - potential tojan"];

}

#[ 'FT::heartbeat("${MSSQLS}_sypwetc15")', '(1)', 'CRITICAL', $NE ];

sub FT::MONITOR::THRESHOLDS
{
[
  [ [["/tcp_22_LISTEN.*/"]], '(1)', $FT::ESEV[4], $SSHD_I, $SSHD_M ],
  [ '/tcp_23_ESTABLISHED.*/', (1), $FT::ESEV[10], $TELNET_I, $TELNET_M ],
  [ '/tcp_21_ESTABLISHED.*/', (1), $FT::ESEV[10], $FTP_I,    $FTP_M ],
  [ '/raw_.*/', (1), $FT::ESEV[10], $RAW_I,    $RAW_M ],

  [ '/tcp_.*/', ($sendq_V > 30000 ), $FT::ESEV[10], $SENDQ_I, $SENDQ_M ],
  [ '/tcp_.*/', ($recvq_V > 30000 ), $FT::ESEV[10], $RECVQ_I, $RECVQ_M ],
];
}

print "SOURCED: " . __FILE__ . "\n";
