# The disk space monitor checks disk space use against user defined
# thresholds. It will also detect if disk space or inodes are being used up at
# a constant rate (e.g. an application logging to a file and not cleaning up
# after itself).
# Disk space and inode usage are also graphed over time.

do "impl/common.cfg";

$FT::MONITOR::DESC = "Check disk space usage";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Determines how often the monitor is invoked (in minutes);
  $MONITOR_INTERVAL_P = 1;
  
  # Determines number of consecutive cycles that disk space is being used over to 
  # identify the disk as "Filling".
  $FILLING_INTERVAL_P = 7;
  
  # Determines how often a sample is taken for the filling calculation relative
  # to the monitors overall cycle rate.
  $FILLING_SAMPLE_P = 1;
  
  # Determines number of consecutive cycles to determine minimum disk usage
  # level over , for baselining thresholds.
  $DISCOVER_INTERVAL_P = 5;
  
  # Determines how often a sample is taken for baslining thresholds relative
  # to the monitors overall cycle rate.
  $DISCOVER_SAMPLE_P = 1;

  # Skip tmpfs files system type and cdroms.
  $SKIP_FS_P[0] = "tmpfs";
  $SKIP_FS_P[1] = "iso9660";
  
  # Percentage of baseline level to give as leway for level1 disk full 
  # calculation.
  $LEVEL1_P = 30;
  
  # Percentage of baseline level to give as leway for Level2 severity disk 
  # full calculation.
  $LEVEL2_P = 20;
  
  # Percentage of baseline level to give as leway for Level3 severity disk 
  # full calculation.
  $LEVEL3_P = 10;

  # The Disk name. This is the unique key.
  $Id_V = "";
  
  # The type of disk e.g. FIXED etc
  $Type_V = "";
  
  # The File System type e.g. /
  $Fs_V = "";
  
  # Available disk space.
  $AvailC_V = 0;
  
  # Total disk space.
  $TotalC_V = 0;
  
  # Available disk space.
  $AvailT_V = 0;
  
  # Used Disk space.
  $UsedC_V = 0;
  
  # Available Disk space in MegaBytes
  $AvailB_V = 0;
  
  # Used Disk space in MegaBytes
  $UsedMB_V = 0;
};


sub FT::MONITOR::PRECALCS
{
#df -klT
#Filesystem    Type   1k-blocks      Used Available Use% Mounted on
#/dev/sda3     ext3     6657004   1778820   4540016  29% /
#/dev/sda1     ext3       46636      8946     35282  21% /boot
#none         tmpfs      127952         0    127952   0% /dev/shm

#df -ilT
#Filesystem    Type    Inodes   IUsed   IFree IUse% Mounted on
#/dev/hda3     ext3   1272960  110933 1162027    9% /
#/dev/hda2     ext3     26520      42   26478    1% /boot
#none         tmpfs     31907       1   31906    1% /dev/shm
#/dev/cdrom iso9660         0       0       0    -  /mnt/cdrom

  my @DFK = `df -klT`;
  my $status = $?;
  exit($status) if ( $status );

  @FT::VALUES = ();
  foreach ( @DFK )
  {
    chomp;

    next if ( /^Filesystem/ );
    @cols = split(/\s+/, $_);

    next if ( @SKIP_FS_P && grep { $cols[1] eq $_ } @SKIP_FS_P ); 

    push(@FT::VALUES, [ @cols ] );
  }

  @DFK = `df -ilT`;
  my $status = $?;
  exit($status) if ( $status );

  my $i =0;
  foreach ( @DFK )
  {
    chomp;
    next if ( /^Filesystem/ );
    @cols = split(/\s+/, $_);

    next if ( @SKIP_FS_P && grep { $cols[1] eq $_ } @SKIP_FS_P ); 

    $FT::VALUES[$i] = 
        [ @{$FT::VALUES[$i]}, $cols[2], $cols[3], $cols[4], $cols[5] ];
    $i++;
  }
 
  $INFO = [];
  $FT::MONITOR::INFO{"disk"} = $INFO;

  return(1);
};


# --------------------------------------------------------------------------
sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P); 
};

sub FT::MONITOR::COLS
{
  ( $fs_V, 
    $Type_V, 
    $Blocks_V, 
    $UsedK_V,
    $AvailK_V, 
    $PctUsed_V, 
    $Mount_V, 
    $Inodes_V, 
    $IUsed_V, 
    $IFree_V, 
    $IPctUsed_V, 
    %FT::EXTRA_V ) = @_;

  $PctUsed_V =~ s/\%//;
  $IPctUsed_V =~ s/\%//;

  $FT::RESOURCE = $Mount_V;
};


sub FT::MONITOR::CALCS
{


  $AvailMB_V  = FT::round($AvailK_V/1024,2);
  $UsedMB_V  = FT::round($UsedK_V/1024,2);

  $TotalK_V = $AvailK_V + $UsedK_V;
  $TotalMB_V  = FT::round($TotalK_V/1024,2);

  $Filling_V  = FT::monot($FILLING_INTERVAL_P, $FILLING_SAMPLE_P, $AvailK_V);
  $FillRate_V = FT::delta($FILLING_INTERVAL_P, $FILLING_SAMPLE_P, $AvailK_V/1024);
  $FillRateStr_V = FT::round( $FillRate_V, 2);

  $AvailMB_BL_V = FT::BL::min(
                     $DISCOVER_INTERVAL_P, $DISCOVER_SAMPLE_P, *AvailMB_V);
  $AvailMB_BL1_V = $AvailMB_BL_V * ( 1 - $LEVEL1_P / 100 );
  $AvailMB_BL2_V = $AvailMB_BL_V * ( 1 - $LEVEL2_P / 100 );
  $AvailMB_BL3_V = $AvailMB_BL_V * ( 1 - $LEVEL3_P / 100 );

  $IFilling_V  = FT::monot($FILLING_INTERVAL_P, $FILLING_SAMPLE_P, $IUsed_V);
  $IFillRate_V = FT::delta($FILLING_INTERVAL_P, $FILLING_SAMPLE_P, $IUsed_V);
  $IFillRateStr_V = FT::round( $IFillRate_V, 2);

  push( @${INFO},
      [ 
        [ "fs",     $fs_V ],
        [ "type",   $Type_V ], 
        [ "total (MB/Inode)",  "$TotalMB_V/$Inodes_V" ],
        [ "avail (MB/Inode)",  "$AvailMB_V/$IFree_V" ],
        [ "% used (Disk/Inode)", "$PctUsed_V/$IPctUsed_V" ],
        [ "MountPt", $Mount_V ],
        [ "BaseLine1", $AvailMB_BL1_V ], 
        [ "BaseLine2", $AvailMB_BL2_V ], 
        [ "BaseLine3", $AvailMB_BL3_V ], 
        [ "FillRate", "$FillRateStr_V/$IFillRateStr_V" ], 
        [ "Filling", "$Filling_V/$IFilling_V" ], 
      ] );

  $DISK_BL1_M = [0, "$fs_V has only $AvailMB_V (< $AvailMB_BL1_V) MB free. $Emsg_V"];
  $DISK_BL2_M = [0, "$fs_V has only $AvailMB_V (< $AvailMB_BL2_V) MB free. $Emsg_V"];
  $DISK_BL3_M = [0, "$fs_V has only $AvailMB_V (< $AvailMB_BL3_V) MB free. $Emsg_V"];
  
  $DISK_ERROR_I   = $FT::BASE_I . "/" . "Error";
  $DISK_ERROR_M  = [0, "Error: $Emsg_V" ];
  
  $DISK_FILL_I   = $FT::BASE_I . "/" . "Filling" . "/mount=`$Mount_V`";
  $DISK_FILL_M  = [0, "'$Mount_V' is filling at rate of $FillRateStr_V kB every $MONITOR_INTERVAL_P cycles"];

  $INODE_FILL_I   = $FT::BASE_I . "/" . "Filling" . "/mount=`$Mount_V`";
  $INODE_FILL_M  = [0, "'$Mount_V' using inodes at rate of $IFillRateStr_V inodes every $MONITOR_INTERVAL_P cycles"];

  $INODE_I   = $FT::BASE_I . "/" . "Inodes" . "/mount=`$Mount_V`";
  $INODE_M = [0, "$fs_V has $IPctUsed_V % inodes used."];
  
  $RRD_I = $FT::BASE_I . "/" . "Graph" . "/mount=`$Mount_V`";
  $RRD_M = [0, "Graph"];
  $RRD_A = [ 0, -1, sub { FT::rrd([[*UsedMB_V, *TotalMB_V]], { STEP => 10, WINDOW => 300 })  }];
  #$RRD_A = [ 0, -1, sub { FT::rrd([[*UsedMB_V, *TotalMB_V]]) }];

  $IRRD_I = $FT::BASE_I . "/" . "/Inode/Graph" . "/mount=`$Mount_V`";
  $IRRD_M = [0, "InodeGraph"];
  $IRRD_A = [ 0, -1, sub { FT::rrd([*IPctUsed_V], { STEP => 10, WINDOW => 300 })  }];
  #$IRRD_A = [ 0, -1, sub { FT::rrd([*IPctUsed_V])  }];
};

sub FT::MONITOR::POSTCALCS
{
}

print "SOURCED: " . __FILE__ . "\n";

