# Implementation of NT event log monitor.
do "impl/common.cfg";

$FT::MONITOR::DESC = "Check NT logs";
$FT::MONITOR::VER  = "1.1";

# -------------------------------------------------------------------------
# CODE
# -------------------------------------------------------------------------
sub EVENTLOG_SUB
{
  my $match = shift;
  my $repeat_count = shift;

  my $hostname;
  my $date;
  my $origin;
  my $msg;
  my $event;
  my $id = undef;

  # return(0) if ( /discard1/ );
  
  $event = $_;


  if ( 
       ( $event->{"EventType"} eq "Error" ||
         $event->{"EventType"} eq "Audit failure"    
       ) && 
       $event->{"Source"} ne "FTMON"
     )
  {

    $origin = $event->{"Computer"};
    $priority = $event->{"EventType"};

    $id = $event->{"Source"} . '/id=' . $event->{"ID"};
  }

  return(0) if ( ! defined($id) );



  my $count = $repeat_count->{$id}++;
  $match->{$id} = 
     [ $id, $count,
       $event->{"Date"},
       $event->{"EventType"}, 
       $event->{"Computer"},
       $event->{"Message"}, 
       $event->{"Source"}, 
       $event->{"ID"}, 
     ];

  return(1);
};


sub FT::MONITOR::VARIABLES_INIT
{
  $EVENTLOG[0] = "System";
  $EVENTLOG[1] = "Application";
  $EVENTLOG[2] = "Security";
  
  
  # Defines how often the monitor is invoked in minutes.
  $MONITOR_INTERVAL_P = 1;
  
  # Number of events to display on the monitor status page.
  $NUM_EVENTS_DISPLAY_P = 5;

  # This defines how long to display an event on the event display.
  # REVISIT: Need to identify FT variables that can be set by users as
  # opposed to just implementors. Need to load 
  # FTMON/event_manager/impl/common.cfg
  # global variable definitions and documentation.
  $FT::EVENT_TTL = 4;
  $FT::EVENT_TTL_P = 4;
}


sub FT::MONITOR::PRECALCS
{
  @FT::VALUES = ();

  use FTMON::EventLogScraper;
  FTMON::EventLogScraper::scrape_log("eventlog", \@EVENTLOG, \&EVENTLOG_SUB);

  $INFO= {};
  $POSITION = 0;
  $FT::MONITOR::PERSIST_INFO{$FT::PACKAGE} = $INFO;
}


sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P) 
}

sub FT::MONITOR::COLS
{
  ( $key_V,
    $count_V,
    $date_V,
    $priority_V, 
    $origin_V,
    $msg_V,
    $source_V,
    $eventid_V ) = @_;

  $FT::RESOURCE = $key_V;
}


sub FT::MONITOR::CALCS
{
  if ( defined $FT::MONITOR::PERSIST_INFO{$FT::PACKAGE} )
  {
    @keys = sort {$a cmp $b} keys %{$FT::MONITOR::PERSIST_INFO{$FT::PACKAGE}};
    delete $FT::MONITOR::PERSIST_INFO{$FT::PACKAGE}->{$keys[0]} 
         if ( @keys == $NUM_EVENTS_DISPLAY_P );
  }

  $FT::MONITOR::PERSIST_INFO{$FT::PACKAGE}->
    {$date_V . "(" . $key_V . ")"}->{$POSITION} = [ [ "", $msg_V ] ];
  $POSITION++;

  $LOG_I =  $FT::BASE_I . "/" . "$key_V";

  $LOG_M  = [0, "$source_V $eventid_V $msg_V"];
}

sub FT::MONITOR::POSTCALCS
{
}


print "SOURCED: " . __FILE__ . "\n";
