# Monitors the load on the system and also determines if a server has
# been rebooted recently based on the uptime.
# The load average numbers give the number of jobs in the run queue (state R)
# or waiting for disk I/O (state D) averaged over 1, 5 and 15 minutes.
do "impl/common.cfg";

$FT::MONITOR::DESC = "Monitor system load";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Determines how often the monitor is invoked (in minutes). 
  $MONITOR_INTERVAL_P = 1;

  # Load average over one minute.
  $Load1min_V = 0;

  # Load average over 5 minutes.
  $Load5min_V = 0;

  # Load average over 15 minutes.
  $Load15min_V = 0;

  # Seconds since reboot.
  $uptime_V = 0;
}


sub FT::MONITOR::PRECALCS
{
  my $file = "/proc/loadavg";
  open(LOAD, "$file") || die "cannot open $file: $!";
  while( <LOAD> )
  {
    chomp;
    next if ( ! $_ );
    @load_values = split(" ");
  }
  close(LOAD) || die "cannot read $file: $!";

  $file = "/proc/uptime";
  open(LOAD, "$file") || die "cannot open $file: $!";
  while( <LOAD> )
  {
    chomp;
    next if ( ! $_ );
    @uptime_values = split(" ");
  }
  close(LOAD) || die "cannot read $file: $!";

  push(@FT::VALUES, [ @load_values, @uptime_values ] );

  @INFO1 = ();
  $FT::MONITOR::INFO{"Load"} = \@INFO1;
  return(1);

}

sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P) 
}

sub FT::MONITOR::COLS
{
  ( $Load1min_V,
    $Load5min_V,
    $Load15min_V,
    $dummy_V,
    $dummy_V,
    $uptime_V,
    $idletime_V,
    %FT::EXTRA_V ) = @_;

  $FT::RESOURCE = "";
}


sub FT::MONITOR::CALCS
{
  $uptimeStr_V = FT::days2str($uptime_V/24/60/60);

  push(@INFO1,
   [ [ "parameter", "1 min Load avg." ], 
     [ "value", $Load1min_V ] ] );

  push(@INFO1,
   [ [ "parameter", "5 min Load avg." ], 
     [ "value", $Load5min_V ] ] );
  
  push(@INFO1,
   [ [ "parameter", "15 min Load avg." ], 
     [ "value", $Load15min_V ] ] );
  
  push(@INFO1,
   [ [ "parameter", "uptime" ], 
     [ "value", $uptimeStr_V ] ] );
  
  $LOAD15_I  = $FT::BASE_I . "/" . "LoadAvg15";
  $LOAD15_M = [0, "15 min load average is $Load15min_V."];

  $REBOOT_I  = $FT::BASE_I . "/" . "Rebooted";
  $REBOOT_M = [0, "Server rebooted $uptimeStr_V ago."];

  $LOAD_RRD_I  = $FT::BASE_I . "/" . "Graph";
  $LOAD_RRD_M = [0, "Graph"];
  $LOAD_RRD_A = [ 0, -1, sub { FT::rrd( [[*Load1min_V, *Load5min_V]] )} ];
}

sub FT::MONITOR::POSTCALCS
{
}

print "SOURCED: " . __FILE__ . "\n";
