# Checks if processes are leaking memory and/or using up too much CPU.
# The monitor also checks if a given process is being re-spawned continuously.

do "impl/common.cfg";

$FT::MONITOR::DESC = "Check process status";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Determines how often the monitor is invoked (in minutes). 
  $MONITOR_INTERVAL_P = 1;
 
  # Determines number of consecutive cycles that memory must be
  # increasing in order to be classed as a memory leak.
  $MEM_LEAK_INTERVAL_P = 40;

  # Determines how often a sample is taken for the memory leak
  # calculation relative to this monitors overall cycle rate.
  $MEM_LEAK_SAMPLE_P = 1;

  # Determine how many of the top memory users to display on the status page.
  $NUM_TOP_MEM_USERS_P = 5;

 
  # Determines number of consecutive cycles to average CPU over.
  $ACPU_INTERVAL_P = 5;
  
  # Determines how often to take a sample for the average CPU calcualtion.
  $ACPU_SAMPLE_P = 1;
  
  # Determines number of consecutive cycles that number of instances of
  # a given processes should be increasing over to be indentified as a
  # process storm.
  $STORM_INTERVAL_P = 5;
  
  # Determines how often to take a sample for the Process storm calculation.
  $STORM_SAMPLE_P = 5;
  
  # Determines lowest level of CPU a process can be used to have its details
  # published on the FTMON status page.
  $STATUS_MIN_CPU_9 = 5;

  # State of process.
  $STATE_V = "";

  # Time process started.
  $STIME_V = "";

  # Process name.
  $NAME_V = "";

  # Percentage cpu used by process.
  $PCPU_V = 0;

  # Amount of processor time used by process.
  $PTIME_V = "";

  # Amount of virtual memory used by process.
  $VSZ_V = 0;

  # Resident set size of process.
  $RSS_V = 0;

  # Total process size.
  $SZ_V = 0;

  # Owner of process.
  $OWNER_V = "";

  # Priority of process.
  $PRI_V  = 0;

  # Process idenifier.
  $PID_V = 0;

  # Full command path and options of process.
  $ARGS_V = "";

  # Time given process has been running in seconds.
  $CPTIME_V = 0;

  # Delta time difference between monitor invocations.
  $DPTIME_V = 0;

  # Time monitor last run.
  $ATIME_V = 0;

  # Time difference between monitor invocations.
  $DATIME_V = 0;

  # Amount of CPU used by process over monitor interval.
  # NB The number of processors is taken into account.
  $CPU_V = 0;

  # Average CPU used over configurable sample period.
  $ACPU_V = 0;

  # Number of instances of given process name
  $COUNT_V = 0;

  # Set to true (1) if number of instances of given process is increasing.
  $STORM_V = 0;

  $SZ_Leak_V = 0;
  $RSS_Leak_V = 0;
  $VSZ_Leak_V = 0;

  $SZ_Rate_V = 0;
  $RSS_Rate_V = 0;
  $VSZ_Rate_V = 0;

}

sub FT::MONITOR::PRECALCS
{
  if ( ! defined $ENV{NUMBER_OF_PROCESSORS} )
  {
    $ENV{NUMBER_OF_PROCESSORS} = `grep processor /proc/cpuinfo | wc -l`;
    $ENV{NUMBER_OF_PROCESSORS} =~ s/^\s+//g;
  }

  #my $ps_cmd = "ps -efo \"time,comm,pcpu,etime,vsz,rss,user,pri,pid,args\"";

  my $ps_cmd = "ps axwo \"s,stime,comm,pcpu,time,vsz,rss,sz,user,pri,pid,args\"";
  my $key;
  my $last_col;
  my @args;
  my $arg;
  @FT::VALUES = ();
  %FT::PROCESSES = ();
  open( CMD_FH, "$ps_cmd |" ) ||
      die "Problem running $ps_cmd: $!";
  while( <CMD_FH> )
  {
    chomp;
    s/^\s+//;

    next if ( /^S\s+STIME/ );

    ( $cols[0], $cols[1], $cols[2], $cols[3], $cols[4],
      $cols[5], $cols[6], $cols[7], $cols[8], $cols[9], $cols[10], @args ) = 
           split(/\s+/, $_);

    $key = $cols[1] . "_" . $cols[9];
    $cols[11] = "";
    foreach $arg ( @args )
    {
      $cols[11] = $cols[11] . " " . $arg;
    }
    push( @FT::VALUES, [ @cols] );
    $FT::PROCESSES{$key} = [ @cols];
  }
  close( CMD_FH ) ||
      die "Problem running $ps_cmd: $!";

  @INFO1 = ();
  $FT::MONITOR::INFO{"Processes > $STATUS_MIN_CPU_P% CPU"} = \@INFO1;

  $INFO2 = []; 
  $FT::MONITOR::INFO{"Top total memory users"} = $INFO2;

  $INFO3 = [];
  $FT::MONITOR::INFO{"Top resident memory users"} = $INFO3;

  $INFO4 = []; 
  $FT::MONITOR::INFO{"Top virtual memory users"} = $INFO4;

  $i = 0; 
  foreach ( sort { $b->[7] <=> $a->[7] } @FT::VALUES )
  { 
    push(@{$_}, "MAX_SZ_RANK", $i );
    $i++;
  }

  $i = 0; 
  foreach ( sort { $b->[6] <=> $a->[6] } @FT::VALUES )
  { 
    push(@{$_}, "MAX_RSS_RANK", $i );
    $i++;
  }


  $i = 0; 
  foreach ( sort { $b->[5] <=> $a->[5] } @FT::VALUES )
  { 
    push(@{$_}, "MAX_VSZ_RANK", $i );
    $i++;
  }


  my $name;
  my %count;
  foreach (@FT::VALUES)
  {
    $name = $_->[11]; 
    $count{$name}++;
  }

  foreach (@FT::VALUES)
  {
    $name = $_->[11]; 
    push(@{$_}, "NAME_COUNT", $count{$name} );
  }

  return(1);
}


sub FT::MONITOR::SCHED
{ 
  FT::timer($MONITOR_INTERVAL_P) 
}

sub FT::MONITOR::COLS
{
  ( $STATE_V,
    $STIME_V,
    $NAME_V,
    $PCPU_V,
    $PTIME_V,
    $VSZ_V,
    $RSS_V,
    $SZ_V,
    $OWNER_V,
    $PRI_V, 
    $PID_V,
    $ARGS_V,
    %FT::EXTRA_V) = @_;

  $FT::RESOURCE = join("_", $NAME_V, $PID_V);
}


sub FT::MONITOR::CALCS
{

  next if ( $STATE_V eq "Z" );

  #
  # To keep memory usage down only process top cpu users
  #
  $ACPU_V = 0;
  if ( $PCPU_V > $STATUS_MIN_CPU_P )
  {
    $CPTIME_V = FT::str2secs($PTIME_V);
    $DPTIME_V = FT::delta( 1, 1, $CPTIME_V );
    $ATIME_V = time();
    $DATIME_V = FT::delta( 1, 1, $ATIME_V );


    $CPU_V = FT::round( 
             ( $DPTIME_V / $DATIME_V / $ENV{NUMBER_OF_PROCESSORS} * 100 ), 
	     2 )  
	        if ( $DATIME_V > 0 );

    $ACPU_V = FT::round(
              FT::avg( $ACPU_INTERVAL_P, $ACPU_SAMPLE_P, $CPU_V ), 2) 
	          if ( defined($CPU_V) );

    push( @INFO1, [ [ "process", $NAME_V ],
                    [ "PID",     $PID_V ],
		    [ "owner",   $OWNER_V ],
		    [ "cpu",     $CPU_V ] ] );
  }

  $COUNT_V = $FT::EXTRA_V{'NAME_COUNT'};
  $STORM_V = FT::monot($STORM_INTERVAL_P, $STORM_SAMPLE_P, $COUNT_V );


  $PS_HOG_I   = $FT::BASE_I . "/CpuHog" . "/process='$NAME_V'";
  $PS_HOG_M  = [0, "$NAME_V ($PID_V) at $ACPU_V % cpu. Owned by $OWNER_V"];
  
  $PS_EXIT_I   = $FT::BASE_I . "/Avail" . "/process='$NAME_V'";
  $PS_EXIT_M  = 
     [0, "$NAME_V Owned by $OWNER_V, exited at $XTIME_V with non zero exit code ( $XCODE_V )."];
  
  $PS_STORM_I = $FT::BASE_I . "/Forking/" . "process='$NAME_V'";
  $PS_STORM_M = [0, "There are $COUNT_V instances (increasing) of $NAME_V owned by $OWNER_V"];
  
  $RRD_CPU_A  = [ 0, -1, sub { FT::rrd([*CPU_V]) } ];

  $VSZ_MB_V  = FT::round($VSZ_V/1024, 3);
  $RSS_MB_V = FT::round($RSS_V/1024, 3);
  $SZ_MB_V  = FT::round($SZ_V/1024, 3);

  $rankVSZ_V = $FT::EXTRA_V{'MAX_VSZ_RANK'};
  $rankRSS_V = $FT::EXTRA_V{'MAX_RSS_RANK'};
  $rankSZ_V  = $FT::EXTRA_V{'MAX_SZ_RANK'};

  #
  # To keep memory usage down we are only going to process the
  # top Memory users.
  #
  if ( $rankVSZ_V < $NUM_TOP_MEM_USERS_P ||
       $rankRSS_V < $NUM_TOP_MEM_USERS_P ||
       $rankSZ_V < $NUM_TOP_MEM_USERS_P )
  {

    push( @${INFO2},
      [ 
        [ "rank", $rankSZ_V ],
        [ "name", $NAME_V ],
        [ "pid",  $PID_V ],
        [ "Total Mem (MB)", $SZ_MB_V ],
      ] );

    push( @${INFO3},
      [ 
        [ "rank", $rankRSS_V ],
        [ "name", $NAME_V ],
        [ "pid",  $PID_V ],
        [ "Resident Mem (MB)", $RSS_MB_V ],
      ] );

    push( @${INFO4},
      [ 
        [ "rank", $rankVSZ_V ],
        [ "name", $NAME_V ],
        [ "pid",  $PID_V ],
        [ "Virtual Mem (MB)", $VSZ_MB_V ],
      ] );


  $SZ_Leak_V = 
    FT::round(FT::monot($MEM_LEAK_INTERVAL_P, $MEM_LEAK_SAMPLE_P, $SZ_V),2);

  $RSS_Leak_V = 
    FT::round(FT::monot($MEM_LEAK_INTERVAL_P, $MEM_LEAK_SAMPLE_P, $RSS_V),2);

  $VSZ_Leak_V = 
    FT::round(FT::monot($MEM_LEAK_INTERVAL_P, $MEM_LEAK_SAMPLE_P, $VSZ_V),2);

  $SZ_Rate_V = 
     FT::round(2 * FT::delta(
                    $MEM_LEAK_INTERVAL_P, 
		    $MEM_LEAK_SAMPLE_P, 
		    $SZ_V), 2);

  $RSS_Rate_V = 
     FT::round(2 * FT::delta(
                    $MEM_LEAK_INTERVAL_P, 
		    $MEM_LEAK_SAMPLE_P, 
		    $RSS_V), 2);

  $VSZ_Rate_V = 
     FT::round(2 * FT::delta(
                    $MEM_LEAK_INTERVAL_P, 
		    $MEM_LEAK_SAMPLE_P, 
		    $VSZ_V), 2);
  }

  $SZ_I  = $FT::BASE_I . "/" . "TotalMemory" . "/" . "process='$NAME_V'";
  $SZ_M = [0, "$NAME_V ($PID_V) leaking total memory at rate of $SZ_Rate_V kB/hr"];
  $RRD_SZ_A = [ 0, -1, sub { FT::rrd([*SZ_V])} ];

  $RSS_I  = $FT::BASE_I . "/" . "ResidentMemory" . "/" . "process='$NAME_V'";
  $RSS_M = [0, "$NAME_V ($PID_V) leaking resident memory at rate of $RSS_Rate_V kB/hr"];
  $RRD_RSS_A = [ 0, -1, sub { FT::rrd([*RSS_V])} ];
  
  $VSZ_I  = $FT::BASE_I . "/" . "VirtualMemory" . "/" . "process='$NAME_V'";
  $VSZ_M = [0, "$NAME_V ($PID_V) leaking virtual memory at rate of $VSZ_Rate_V kB/hr"];
  $RRD_VSZ_A = [ 0, -1, sub { FT::rrd([*VSZ_V])} ];
  
}

sub FT::MONITOR::POSTCALCS
{
  # sort by rank for correct display order.
  @${INFO1} = sort { $a->[0]->[1] <=> $b->[0]->[1] } @${INFO1};
  @${INFO2} = sort { $a->[0]->[1] <=> $b->[0]->[1] } @${INFO2};
  @${INFO3} = sort { $a->[0]->[1] <=> $b->[0]->[1] } @${INFO3};
  @${INFO4} = sort { $a->[0]->[1] <=> $b->[0]->[1] } @${INFO4};
}


print "SOURCED: " . __FILE__ . "\n";
