# Checks if Linux services configured to be running at the current run
# level are in fact running or not. It will show the status of the failed
# monitor if this is supported.

do "impl/common.cfg";

$FT::MONITOR::DESC = "Check service status";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Determines how often the monitor is invoked (in minutes). 
  $MONITOR_INTERVAL_P = 1;

  # Specifies remote proxied host to do the monitoring on.
  # Local host is the default.
  $FT::HOSTNAME_P = "";

}

sub get_descriptions
{
  my $descriptions = shift;
  my $service_dir = shift;

  $service_dir = "/etc/init.d" if ( ! defined $service_dir );

  opendir(SVCDIR, $service_dir) || die "Could not open '$service_dir': $!";
  while ( ($service = readdir(SVCDIR)) )
  {
    my $service_file = $service_dir . "/" . $service;
    my $continue = 0;
    my $description = "";
    open(SVC, $service_file) || die "Could not open '$service_file': $!";
    while ( <SVC> )
    {
      chomp;
      if ( /^#\s*description: (.*)/ )
      {
        $description = $1 . " ";
        $continue = ( $description =~ s/^(.*)\\\s*$/$1/ );
        #$description =~ s/\\\s*$//;
        last if ( ! $continue );
      }
      elsif ( $continue )
      {
        s/^#\s+//;
        $description = $description . $_ . " ";
        $continue = ( $description =~ s/^(.*)\\\s*$/$1/ );
      }
    }
    $descriptions->{$service} = $description;
  }
}

sub FT::MONITOR::PRECALCS
{

my $runlevel = `runlevel`;
chomp($runlevel);
$runlevel =~ s/^.*(\d+)$/\1/;


# ----------------------------------------------------------------------

open( CHKC, "chkconfig --list |" ) || die "chkconfig --list: $!";

my @expected_status;
my $daemon = "unknown";
my $status = "";
my $type = "daemon";
my $expected_status = "stopped";
my $actual_status = "stopped";

%DESCRIPTIONS = ();


while ( <CHKC> )
{
  chomp;
  s/^\s+//;

  if ( /xinetd based services:/ )
  {
    $type = "xinetd";
    next;
  }

  $actual_status = "unknown";
  $error_msg = "";
  if ( $type eq "daemon" )
  {
    ($daemon, @expected_status) = split(/\s+/);
    $expected_status = $expected_status[$runlevel];
    $expected_status =~ s/^\d+://;
    $expected_status = ( $expected_status eq "on" ) ? "running" : "stopped";

    $status = `service $daemon status 2>&1`;
    $error_status = $?;
    if ( $error_status )
    {
      $error_msg = $status;
      $error_msg =~ s/\n//g;
      $actual_status = "stopped";
    }
    else
    {
      chomp($status);
      $actual_status = "stopped" if ( $status =~ / stopped/ );
      $actual_status = "running" if ( $status =~ / running/ );
    }
    $xinetd_status = $actual_status if ( $daemon eq "xinetd" );
  }
  else
  {
    ($daemon, $expected_status) = split(/\s+/);
    $daemon =~ s/://;
    $expected_status = ( $expected_status eq "on" ) ? "running" : "stopped";
    $actual_status =  
        ( $expected_status eq "running" ) ? $xinetd_status : $expected_status;
  }

  if ( ! defined $DESCRIPTIONS{$daemon} )
  {
    get_descriptions(\%DESCRIPTIONS, "/etc/xinetd.d");
    get_descriptions(\%DESCRIPTIONS, "/etc/init.d");
  }

  push(@FT::VALUES, 
      [ $daemon, $type, $expected_status, $actual_status, $DESCRIPTIONS{$daemon}, $error_msg ]);
}


  @INFO1 = ();
  $FT::MONITOR::INFO{"sysv daemons"} = \@INFO1;

  @INFO2 = ();
  $FT::MONITOR::INFO{"xinetd daemons"} = \@INFO2;

  return(1);
}

# --------------------------------------------------------------------------
sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P) 
}


sub FT::MONITOR::COLS
{
  ( $NAME_V,
    $TYPE_V,
    $EXPECTED_STATE_V,
    $ACTUAL_STATE_V,
    $DESCRIPTION_V,
    $ERROR_V,
    %FT::EXTRA_V ) = @_;

  $FT::RESOURCE  = $DNAME_V;
}


sub FT::MONITOR::CALCS 
{
  if ( $EXPECTED_STATE_V eq "running" )
  {
    push( @INFO1,
      [ 
        [ "name",      $NAME_V ],
        [ "state",     $ACTUAL_STATE_V ],
        [ "expected",     $EXPECTED_STATE_V ],
        [ "description",     $DESCRIPTION_V ],
      ] ) if ( $TYPE_V eq "daemon" );

    push( @INFO2,
      [ 
        [ "name",      $NAME_V ],
        [ "state",     $ACTUAL_STATE_V ],
        [ "expected",     $EXPECTED_STATE_V ],
        [ "description",     $DESCRIPTION_V ],
      ] ) if ( $TYPE_V eq "xinetd" );

   }

  $SVC_DEAD_V = ( $EXPECTED_STATE_V eq "running" && $ACTUAL_STATE_V eq "stopped" );
  $SVC_DEAD_I   = $FT::BASE_I . "/" . "Exited" . "/" . "name='$NAME_V'";
$SVC_DEAD_M  = [0, "'$NAME_V' is NOT running and is configured to start at boot: $ERROR_V"];

}

sub FT::MONITOR::POSTCALCS
{
}



print "SOURCED: " . __FILE__ . "\n";
