# Checks if applications can keep up with data/being sent over sockets.
# The monitor can also be configured to detect "trojan" ports etc. 
#
do "impl/common.cfg";

$FT::MONITOR::DESC = "checks connections between applications";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Defines how often to run the monitor.
  $MONITOR_INTERVAL_P = 1;

  $HB_M = " is not establishing a port";

}


sub FT::MONITOR::PRECALCS
{
#Active Internet connections (servers and established)
#Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name   
#tcp        0      0 0.0.0.0:32768           0.0.0.0:*               LISTEN      595/rpc.statd       
#tcp        0      0 127.0.0.1:32769         0.0.0.0:*               LISTEN      7
  my $cmd = "netstat -anptu";
  my $values;
  my $info;
  @FT::VALUES = ();
  open( CMD_FH, "$cmd |" ) ||
      die "Problem running $cmd: $!";
  while( <CMD_FH> )
  {
    chomp;
    @cols = split(/[\s:]+/, $_);
    next if ( /^Active Internet connections/ );
    next if ( /^Proto\s+/ );
    next if ( /^\s+$/ );
    next if ( /^$/ );

    push( @FT::VALUES, [ @cols] );
  }

  close( CMD_FH ) ||
      die "Problem running $cmd: $!";

  @INFO1 = ();
  $FT::MONITOR::INFO{"connections"} = \@INFO1;
  return(1);
};


sub FT::MONITOR::SCHED
{
  FT::timer($MONITOR_INTERVAL_P)
};


sub FT::MONITOR::COLS
{
  ( $proto_V,
    $recvq_V,
    $sendq_V,
    $local_addr_V,
    $local_port_V,
    $foreign_addr_V,
    $foreign_port_V,
    $state_V,
    $name_V,
    %FT::EXTRA_V ) = @_;

  if ( $proto_V eq "udp" && ! $name_V )
  {
    $name_V = $state_V;
    $state_V = "";
  }

  $FT::RESOURCE = 
     join("_", $proto_V, $local_port_V, $state_V, $local_addr_V, $foreign_addr_V, $foreign_port_V);
};


sub FT::MONITOR::CALCS
{

  if ( (defined $state_V && $state_V eq "ESTABLISHED") || 
       $proto_V eq "udp" )
  {
    push(@INFO1,
        [
          [ "Proto",       $proto_V ],
          [ "name",        $name_V ],
          [ "recvQ",      $recvq_V ],
          [ "sendQ",      $sendq_V ],
          [ "Port",        $local_port_V ],
          [ "Remote_Addr", $foreign_addr_V ],
          [ "Remote_Port", $foreign_port_V ]
        ] );
  }

  $RECVQ_I= "$FT::BASE_I" . "/" . "RecvQ" . "/name='$name_V'";
  $RECVQ_M = [0, "'$name_V' is not able to keep up with network data received." ];

  $SENDQ_I= "$FT::BASE_I" . "/" . "SendQ" . "/name='$name_V'";
  $SENDQ_M = [0, "$foreign_addr_V is not able to keep up with data sent from '$name_V'." ];
};

sub FT::MONITOR::POSTCALCS
{
}


print "SOURCED: " . __FILE__ . "\n";

