# This file contains variables that you can apply to all Microsoft monitors.
# e.g. the name of the NT administrator in your company could be defined here.

do "../../FTMON/common.cfg";

print "SOURCED: " . __FILE__ . "\n";
