# This file contains settings common to all applications that are monitored
# by FTMON. Make changes here if you want them to apply to all applications.
# NB You will need to restart FTMON for the changes to take effect.

$FT::EVENT_TTL = 1;

#
# Days for holidays in NSW Australia for 2002. These will need to changed
# each year.
#
$NSW_NON_TRADING_DATES{'01/01/2002'} = "New Year's Day";
$NSW_NON_TRADING_DATES{'28/01/2002'} = "Australia Day"; 
$NSW_NON_TRADING_DATES{'29/03/2002'} = "Good Friday";   
$NSW_NON_TRADING_DATES{'01/04/2002'} = "Easter Monday";  
$NSW_NON_TRADING_DATES{'25/04/2002'} = "Anzac Day";      
$NSW_NON_TRADING_DATES{'05/08/2002'} = "Bank Holiday";   
$NSW_NON_TRADING_DATES{'07/10/2002'} = "Labour Day";     
$NSW_NON_TRADING_DATES{'25/12/2002'} = "Christmas Day"; 

$FT::NON_TRADING_DATES = $NSW_NON_TRADING_DATES;

$FT::TRADING_DAYS = [ "Sat", "Mon", "Tue", "Wed", "Thr", "Fri" ];

$FT::TRADING_START = "19:30";
$FT::TRADING_STOP = "20:50";

print "SOURCED: common.cfg\n";
