# Defines the adjustable variables specific to the NT event manager only.
# NB You have to restart ftmon for these to take effect. Maybe.
package FTMON::EventManager::EventLog;
$FT::PACKAGE = __PACKAGE__;

do "common.cfg";
do "impl/EventLog.cfg";


sub FT::MONITOR::VARIABLES
{
};

sub FT::MONITOR::THRESHOLDS
{
[ ];
}
