# Monitors status of the currently active EventManager
package FTMON::EventManager::status;
$FT::PACKAGE = __PACKAGE__;

do "common.cfg";
do "impl/" . __FILE__;


sub FT::MONITOR::VARIABLES
{
};

sub FT::MONITOR::THRESHOLDS
{
[
  [ '', ( 1 ), $FT::ESEV[0], $RRD_I, $RRD_M, $RRD_A ],
];
}
