#
# Defines event groupings. 
# If an event does not match one of these event grouping rules, 
# it will not be delivered via the event manager.
#
$FT::GROUP{} = '';
$FT::GROUP{all} = '.*';
$FT::GROUP{appx} = '/Vendorx/Appx/.*';

#
# Define mapping of event groupings to email addresses/aliases.
# Add an all entry - like the following if you want this feature.
# $FT::EMAIL_GROUP{'appx'} = '0410431232@smspup.com';
#
$FT::EMAIL_GROUP{} = '';
$FT::EMAIL_GROUP{appx} = '0410431232@smspup.com';

#
# Adjust this variable to change to your sendmail relay from the default
# localhost.
#
#$FT::EMAIL_HOST = '192.168.242.2';
$FT::EMAIL_HOST = 'localhost';

#
# Some paging services will only accept mail from a certain hostname.
# This variable lets you adjust the source of emails.
#
$FT::EMAIL_FROM = 'ftmon@localhost';

#
# This feature has not been implemented as yet. TBD
#
$FT::MAINTENANCE{appx} = 'in maintenance until tomorrow, danny';

# 
#
# Defines what severity of events to send/page people for
# default is no paging.
#
$FT::EMAIL_SEVS[0] = '';

#$FT::EMAIL_SEVS[0] = 7;
#$FT::EMAIL_SEVS[1] = 8;
#$FT::EMAIL_SEVS[2] = 9;
#$FT::EMAIL_SEVS[3] = 10;


print "Sourced event.cfg ....\n";
1;
