# Defines the adjustable variables specific to the EventLog event manager only.
#
do "impl/common.cfg";

#exit if ( defined( $IMPL_SOURCED ) );
#$IMPL_SOURCED = 1;


sub FT::MONITOR::VARIABLES_INIT
{
};


sub FT::MONITOR::PRECALCS
{
  return(1);
};

sub FT::MONITOR::SCHED 
{ 
  FT::timer(1) 
};


sub FT::MONITOR::COLS
{
}


sub FT::MONITOR::CALCS 
{
};


sub FT::MONITOR::POSTCALCS
{
};


print "SOURCED: " . __FILE__ . "\n";

1;
