# Defines the adjustable variables specific to the NT event manager only.
do "impl/common.cfg";

#exit if ( defined( $IMPL_SOURCED ) );
#$IMPL_SOURCED = 1;

sub FT::MONITOR::VARIABLES_INIT
{

# defines severity levels to send messenger alerts for.
$MESSENGER_SEVS_P[0] = "Error";
$MESSENGER_SEVS_P[1] = "Critical Error";
$MESSENGER_SEVS_P[2] = "Security Breech";

# defines what host to send messager alerts to and for what events.
$MESSENGER_P{$FT::HOSTNAME} = '.*';

# defines what host to log events to and for what events to log.
$EVENT_LOG_P{$FT::HOSTNAME} = '.*';
# 
# Defines the sound files to play for different severities of events.
# Default is no sound. 
$SOUND_P{'Error'}           = 'BreakingGlass.wav'; 
$SOUND_P{'Critical Error'}  = 'HighTechAlarm.wav'; 
$SOUND_P{'Security Breech'} = 'BarkingDog.wav'; 

# 
# Defines what severity of events to display message popups for
# Default is no popups.

};


sub FT::MONITOR::PRECALCS
{
  return(1);
};

sub FT::MONITOR::SCHED 
{ 
  FT::timer(1) 
};


sub FT::MONITOR::COLS
{
}


sub FT::MONITOR::CALCS 
{
};


sub FT::MONITOR::POSTCALCS
{
};

print "SOURCED: " . __FILE__ . "\n";

1;
