# This FTMON monitor checks if monitors are taking too long to run
# including itself.

$FT::MONITOR::VER  = "1.1";

do "impl/common.cfg";

$FT::MONITOR::DESC = "Monitors FTMON monitors.";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Defines how often the monitor is invoked in minutes.
  $MONITOR_INTERVAL_P = 1;
}

sub FT::MONITOR::PRECALCS
{
  @FT::VALUES = ();
  @monitor = ();
  $FTMON::Base::SINGLETON->list("FTMON::Monitor", \@monitor);
  foreach $monitor (@monitor)
  {
    push(@FT::VALUES,  
        [ $monitor->name(), 
          $monitor->description(),
          $monitor->version(),
          $monitor->last_run(),
          $monitor->interval(),
          $monitor->run_time(),
          "MONITOR",
          $monitor ] );
  }

  @INFO = ();
  $FT::MONITOR::INFO{"monitors"} = \@INFO;
}


# --------------------------------------------------------------------------
# --------------------------------------------------------------------------
sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P); 
}

sub FT::MONITOR::COLS
{
  ( $Monitor_V,
    $Summary_V,
    $Version_V,
    $LastRun_V,
    $Interval_V,
    $RunTime_V,
    %FT::EXTRA_V ) = @_;

  $FT::RESOURCE = $Class_V;
}


sub FT::MONITOR::CALCS
{
  $LastRunStr_V = FT::convert_date('$dd $Mth $yyyy $hh:$mm:$ss', $LastRun_V);
  $LastRunStr_V = "never" if ( ! $LastRun_V );

  push( @INFO,
     [ 
       ["monitor", $Monitor_V ],
       ["Summary", $Summary_V ],
       ["Interval", $Interval_V ],
       ["LastRun", $LastRunStr_V ],
       ["RunTime", $RunTime_V ],
     ] );

  $RTIME_I = $FT::BASE_I . "/monitor='$Monitor_V'";

  $RTIME_M = [0, "$Monitor_V is taking too long to run"];

  # Disable monitors that take too long to run.
  $DISABLE_A = [ 0, -1, sub { $FT::EXTRA_V{MONITOR}->disable() } ];
}

sub FT::MONITOR::POSTCALCS
{

  my @sorted_info = sort { $b->[4]->[1] <=> $a->[4]->[1] } @INFO;
  @INFO = @sorted_info;
}

print "SOURCED: " . __FILE__ . "\n";
