# The FTMON objects monitor checks if FTMON is behaving, by checking if 
# objects are being created and not being destroyed. It is mainly intended for 
# the debugging of new monitors.";

$FT::MONITOR::VER  = "1.1";

do "impl/common.cfg";

$FT::MONITOR::DESC = "Monitors FTMON objects.";
$FT::MONITOR::VER  = "1.1";

sub FT::MONITOR::VARIABLES_INIT
{
  # Name of the FTMON class being monitored.
  $Class_V = "";

  # Number of instances of the FTMON class in existance.
  $Count_V = 0;

  # Indicates if given FTMON objects are continuouly being created (-1) or
  # destroyed (1) or neither (0).
  $Filling_V  = 0;

  # Rate at which objects are being created/destroyed over LEAK_SAMPLE_P.
  $FillRate_V = 0;

  # FillRate_V rounded to 2 decimal places.
  $FillRateStr_V = "";


  # Defines how often the monitor is invoked in minutes.
  $MONITOR_INTERVAL_P = 1;
  
  # Determines number of consecutive cycles that object must be 
  # increasing in order to be classed as a object leak.
  $LEAK_INTERVAL_P = 3;
  
  # Determines how often a sample is taken for the object leak 
  # calculation relative to this monitors overall cycle rate.
  $LEAK_SAMPLE_P = 1;
 
}

sub FT::MONITOR::PRECALCS
{
  $FTMON::Base::SINGLETON->dump_classes(\@FT::VALUES);
 
  @INFO = ();
  $FT::MONITOR::INFO{"classes"} = \@INFO;

  return(1);
}


# --------------------------------------------------------------------------
# --------------------------------------------------------------------------
sub FT::MONITOR::SCHED 
{ 
  FT::timer($MONITOR_INTERVAL_P); 
}

sub FT::MONITOR::COLS
{
  ( $Class_V,
    $Count_V,
    %FT::EXTRA_V ) = @_;

  $FT::RESOURCE = $Class_V;
}


sub FT::MONITOR::CALCS
{
  $Filling_V  = FT::monot($LEAK_INTERVAL_P, $LEAK_SAMPLE_P, $Count_V);
  $FillRate_V = FT::delta($LEAK_INTERVAL_P, $LEAK_SAMPLE_P, $Count_V);
  $FillRateStr_V = FT::round($FillRate_V, 2);


  push( @INFO,
     [ 
       ["class", $Class_V ],
       ["count", $Count_V ],
       ["filling", $Filling_V ],
       ["rate", $FillRateStr_V ]
     ] );

  $LEAK_I = $FT::BASE_I . "/class='$Class_V'";

  $LEAK_M = [0, "$Class_V objects are not being destroyed - rate = $FillRateStr_V"];
  $RRD_I = $LEAK_I . "/Graph";
  $RRD_M = [0, "Graph"];

  $RRD_A = [ 0, -1, sub { FT::rrd([*Count_V], { STEP => 2 } ) } ];
}

sub FT::MONITOR::POSTCALCS
{

  my @sorted_info = sort { $a->[0]->[1] cmp $b->[0]->[1] } @INFO;
  @INFO = @sorted_info;
}

print "SOURCED: " . __FILE__ . "\n";
