#
# The logfile is the most basic event manager. Lots of vendor based products
# can scrape logfiles to pick up ftmon events, So just using the 
# LogFileEventManager may be sufficient to i/f with an existing vendor systems 
# management solution.
#

#
# Comment out only the Systems Event Manager you want to use. 
# Leave LogFileEventManager
#
#use FTMON::EventManager::LogFile;
#use FTMON::EventManager::NT;
use FTMON::EventManager::Linux;
#use FTMON::BigBrotherEventManager;


#$FT::EVENT_MGR::logfile1 = FTMON::EventManager::LogFile->new( "logfile", "logfile.out", "$FT::LOG_DIR", 4, 3);
 
#$FT::EVENT_MGR::logfile2 = FTMON::EventManager::LogFile->new( "logfile2", "logfile2.out", "$FT::LOG_DIR", 40000, 2);

#
# Include other event managers here. 
# Different event managers may use different severity levels
#
#$FT::EVENT_MGR::tivoli_tec = FTMON::TivoliEventManager->new("DevelopmentTivoliServer", 1, "syusetc4");

#$FT::EVENT_MGR::bb = 
#   FTMON::BigBrotherEventManager->new("DevelopmentBB_Server", 1, "10.30.17.4"); 
#
# Set to 0 if you want to be notified each monitor interval when a
# condition exits.
# Set to 1 if you just want to be notified of new events, severity changes, 
# and close event conditions.
#
#$FT::EVENT_MGR::nt = FTMON::EventManager::NT->new("MOM", 1);

$FT::EVENT_MGR::linux = FTMON::EventManager::Linux->new("RedHat", 1);


#
# Replace FT::EVENT_MGR::nt with what ever event manager you want to use.
# Other examples: 
# $FT::EVENT_MGR::bb->init();
# $FT::EVENT_MGR::tivoli_tec->init();

#do "$FT::CFG_DIR/FTMON/EventManager/nt.cfg";
#$FT::EVENT_MGR::nt->init();

#do "$FT::CFG_DIR/FTMON/EventManager/LogFile.cfg";
#$FT::EVENT_MGR::logfile1->init();

#do "$FT::CFG_DIR/FTMON/EventManager/linux.cfg";
$FT::EVENT_MGR::linux->init();

print "Sourced ftmon.cfg ....\n";

1;
