#
# These variables can only be edited directly, not via the GUI tool.
# Also ftmon must be restarted for changes to take effect.
#
print "Sourcing ftmon.cfg for $^O ....\n";


$RRD::DIR     = $FT::LOG_DIR;

# Re-exec every 15 days.
$FT::REEXEC    = 60 * 24 * 15 * 100000;

#
# Set to 1 each component of FTMON that you want detailed
# tracing for. It is pretty verbose and will probably give you
# too much information.
#
$FTMON::Base::DEBUG                     = 0;
$FTMON::Scheduler::DEBUG                = 0;
$FTMON::RRD::DEBUG                      = 0;
$FTMON::Job::DEBUG                      = 0;
$FTMON::Monitor::DEBUG                  = 1;
$FTMON::LogFileScraper::DEBUG           = 0;
$FTMON::LogFileEventManager::DEBUG      = 0;
$FTMON::Postemsg::DEBUG                 = 0;
$FTMON::TivoliEventManager::DEBUG       = 0;
$FTMON::BigBrotherEventManager::DEBUG   = 0;
$FTMON::EventManager::DEBUG             = 0;
$FTMON::EventManager::NT::DEBUG         = 0;
$FTMON::Event::DEBUG                    = 0;
$FTMON::EventLogScraper::DEBUG          = 0;
$FTMON::EsculationPolicy::DEBUG         = 0;
$FTMON::MessageEsculationPolicy::DEBUG  = 0;
$FTMON::SeverityEsculationPolicy::DEBUG = 0;
$FTMON::ActionEsculationPolicy::DEBUG   = 0;
$FTMON::Environment::DEBUG              = 0;
$FTMON::ConfigFileParser::DEBUG         = 0;
$FTMON::ConfigFile::DEBUG               = 0;
$FTMON::ConfigFile::Threshold::DEBUG    = 0;
$FTMON::ConfigFile::Variable::DEBUG     = 0;
$FTMON::ConfigFile::Include::DEBUG      = 0;
$FTMON::CalculationManager::DEBUG       = 0;
$FTMON::Calculation::DEBUG              = 0;
$FTMON::AvgCalculation::DEBUG           = 0;
$FTMON::DeltaCalculation::DEBUG         = 0;
$FTMON::MonotCalculation::DEBUG         = 0;
$FTMON::RRD::DEBUG         = 0;
$NT::DEBUG = 0;
$FT::DEBUG = 1;

# -------------------------------------------------------------------------
1;

